body{
	animation: fadein 2s;
	 background-color: #230312;
	 font-family: "Courgette", cursive;
}
.container #plus {
  width: 150px;
  height: 80px;
  margin-bottom: 30px;
  background-color: #FFE071;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  font-size: 30px;
}
.container #plus:hover {
  font-size: 35px;
  width: 170px;
  height: 90px;
}

#btn0cs{
	width :150px;
	height : 60px;
	margin-bottom: 3rem;
	background-color: #FFE071;
	border-radius :20px;
	font-size:28px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#btn0cs:hover{
	width :170px;
	height : 80px;
	font-size:38px;
	transition: 0.4s ease-in-out;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}

.container {
  position: relative;
  background-color: #c7b0c2;
  width: 1100px;
  font-family: "Courgette", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #230312;
  flex-wrap: wrap;
  padding: 30px;
}
.container .content-box {
  display: flex;
  margin-top: 200px;
}
.container .content-box .drink {
  margin-left: 2rem;
}
.container .drink:hover {
  height: 700px;
}
.container .drink:hover .content {
  display: flex;
  transition: 1s ease-in-out;
}
.container .drink {
  background-color: white;
  position: relative;
  max-height: 700px;
  height: 370px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 10px;
  transition: 0.6s ease-in-out;
}
.container .drink .imgbx {
  position: relative;
  height: 260px;
  width: 260px;
}

.container .drink .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 30px;
  color: #FFE071;
}
.container .drink .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  width: 300px;
  display: none;
  font-family: "Noto Serif KR", serif;
  font-weight: 500;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.container .drink .content p {
  margin-top: 15px;
}
.container .drink .content p a {
  text-decoration: none;
  color: rgb(103, 187, 103);
}

.container__drink__img {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}




@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
